<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="aubo_i10_dh_ag95">


<xacro:arg name="prefix" default=""/>
<xacro:property name="prefix" value="$(arg prefix)"/>
<xacro:arg name="fingerprefix" default=""/>
<xacro:property name="fingerprefix" value="$(arg fingerprefix)"/>

  <!-- Include file robot gốc và file macro gripper -->
  <xacro:include filename="$(find aubo_description)/urdf/aubo_i10.xacro" />
  <xacro:include filename="$(find aubo_description)/urdf/dh_ag95_macro.xacro" />
  <xacro:include filename="$(find aubo_description)/urdf/ros2_control.xacro" />


  <!-- Gọi macro gripper và truyền parent="wrist3_Link" -->
  <xacro:dh_ag95_gripper 
    prefix="dh_ag95_" 
    parent="wrist3_Link" 
    grasp_link_offset="0.19">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:dh_ag95_gripper>

</robot>
